header{
    font-size: 60px;
}
body{

    background-color:rgb(225, 225, 57); 
    
}
.todoBox{
    margin-top: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#change_btn{
   width:100px;
   height: 100px;
   background-color:rgb(225, 225, 57);
   border-radius: 20px;
   font-size: 20px;
   flex: auto;
}
#delete_btn{
    width:100px;
    height: 100px;
   background-color:rgb(225, 225, 57);
   border-radius: 20px;
   font-size: 20px; 
}
#textbox{
    width:400px;
    height: 50px;
    font-size: 20px;
}